{% load static %}
{% include 'sidebar.html' %}
{% include 'base.html' %}


  
  
    <body>
    

    
    <div class="col-md-10 " >
        <h5 style="border-bottom:2px solid black;margin-left: 600px;" class="text-center">Show Appointment Details</h5>
        <table id="mytable" class="table table-hover table-danger table-bordered" style="border:2px;">
            <br>
            <thead>
                <tr>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Status</th>
                    
            </thead>
            <tbody>
                {% for st in app %}
                    <tr>
                        <td>{{st.patient}}</td>
                        <td>{{st.hospital}}</td>
                        <td>{{st.doctor}}</td>
                        <td>{{st.date}}</td>
                        
                        
                        <td>{{st.slot.start_time}}</td>
                        <td>{{st.slot.end_time}}</td>
                        <td>{{st.status}}</td>
                        
                       
                        
                {% endfor %}
    </div>
            <style>
                #mytable{
                    border-top: 0cm;
                }
            </style>    
               
    </body>