{% include 'sidebar.html' %}
{% load static %}
{% include 'base.html' %}

    


<body>
    
    
    <div class="col-md-10 m-3" >
        <h5 style="border-bottom:2px solid black;margin-left: 600px;" class="text-center">Show Doctor Details</h5>
        <table id="mytable" class="table table-hover table-danger table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Speciality</th>
                    <th scope="col">Address</th>
                    <th scope="col">Work start time</th>
                    <th scope="col">Work end time</th>
                    {% comment %} <th scope="col">Action</th> {% endcomment %}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for st in doc %}
                    <tr>
                        <td>{{st.id}}</td>
                        <td>{{st.name}}</td>
                        <td>{{st.email}}</td>
                        <td>{{st.hospital}}</td>
                        <td>{{st.speciality}}</td>
                        <td>{{st.address}}</td>
                        <td>{{st.work_start_time}}</td>
                        <td>{{st.work_end_time}}</td>
                       
            
                        
                        
                       
                       
                        <td>
                            <form action="{% url 'deletedoc' st.id %}" method="POST" class="d-inline">
                                {%csrf_token%}
                                <input type="Submit" class="btn btn-danger del" value="Delete">
                            </form>
                        </td>
                       
                    </tr>
                {% endfor %}
    </div>
</body>