{% include 'sidebar.html' %}
{% load static %}
{% include 'base.html' %}

<body>
    
    <div class="col-md-10 m-3" >
        <h5 style="border-bottom:2px solid black;margin-left: 600px;" class="text-center">Show Hospital Details</h5>
        <table id="mytable" class="table table-hover table-danger table-bordered mt-5" style="border:2px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Hospital Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Work Start Time</th>
                    <th scope="col">Work End Time</th>

                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for st in hos %}
                    <tr>
                        <td>{{st.id}}</td>
                        <td>{{st.name}}</td>
                        <td>{{st.address}}</td>
                        <td>{{st.contact}}</td>

                        <td>{{st.work_start_time}}</td>
                        <td>{{st.work_end_time}}</td>

                        <td>
                            <a href="/appointment/edit/{{st.id}}" class="btn btn-warning btn-sm">Edit</a>
                        </td>
                        <td>
                            <form action="{% url 'deletehos' st.id %}" method="POST" class="d-inline">
                                {%csrf_token%}
                                <input type="Submit" id="del" class="btn btn-danger del" value="Delete">
                            </form>
                        </td>
                        
                    </tr>
                {% endfor %}


    <script>
        $(document).ready(function(){
        $("#del").click(function(){
        if (!confirm("Are you sure you want to delete..?"))
        {
            return false;
        }
        });
        });
    </script>

</body>