{% include 'sidebar.html' %}
{% load static %}
{% include 'base.html' %}

    
<body>
    <div class="col-md-10 m-3" >
        <h5 style="border-bottom:2px solid black;margin-left: 600px;" class="text-center">Show Patient Details</h5>
        <table id="mytable" class="table table-hover table-danger table-bordered mt-5" style="border:2px;">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for st in p %}
                    <tr>
                        <td>{{st.name}}</td>
                        <td>{{st.email}}</td>
                        <td>{{st.contact}}</td>
                        <td>{{st.address}}</td>
                    
                {% endfor %}
</body>