
{% include 'patient_header.html' %}

<div class="container" style="margin-left:250px ;">
    {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
            {% endfor %}
        
    {% endif %}
</div>
<div>
    <div class="text-center">
     <h2 style="color:green;border-bottom:3px solid black;margin-left:250px;margin-right:250px ;">Your Booking List</h2>   
    </div>
</div>

<div style="margin-left:100px; margin-right:100px;">
    <table class="table table-hover table-danger table-bordered mt-5" style="border:2px">
        <thead>
            <tr>
                <th scope="col">Patient </th>
                <th scope="col">Doctor</th>
                <th scope="col">Hospital</th>
                <th scope="col">Date</th>
                <th scope="col">Slot</th>
                <th scope="col">Status</th>
                
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointment %} 
                <tr>
                    
                    <td>{{appointment.patient}}</td>
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.hospital}}</td>
                    
                    <td>{{appointment.date}}</td>
                    
                    {% for d in d%}
                    <td>{{d.start_time}}-{{d.end_time}}</td>
                    {% endfor %}
                    <td>{{appointment.status}}</td>
                    
                </tr>
              
            {% endfor %}    
            
            

           