{% include 'patient_header.html' %}

<div class="text-center" >
    <div style="margin-left:300px ; margin-right: 300px;">
        <br>
        <h2 style="color: red; border-bottom: solid black 3px;">You have made no bookings yet</h2>

    </div>
</div>