
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <style>
        #error-msg{color: red; margin-left: 20px;}
        #valid-msg{color: green; margin-left: 20px;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <title>MEDINOVA - Hospital Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
    
</head>

<body>
    


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
<body>
    <div class="container" style="margin-left:250px ;margin-right: 250px;">
        {% if messages %}
            
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                {% endfor %}
            
        {% endif %}
    </div>
    <h3><p style="text-align:center ;color: green;border-bottom: 3px solid black ;margin-left: 200px; margin-right: 200px;">Please fill the patient details</p></h3>
    <br>
    <form action="" method="post" class="form-control text-center" id="Patient" >
        {% csrf_token %}
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Name</label>
                <input type="text" class="form-control" style="margin-left:440px ;" name="name" id="name" placeholder="Enter name" required>
            
            
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Email</label>
            <input type="email" class="form-control" style="margin-left:440px ;" name="email" id="email" placeholder="Enter Email" required>
        </div>
        <br>
        
        <!-- <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Contact</label>
            <input type="text" class="form-control" style="margin-left:300px ;" placeholder="Enter Contact details" name="contact" id="contact" required>
        </div> -->
        <p style="text-align:left ;margin-left: 460px;"> Enter contact Number
            <br>
        <input type="number" class="form-control" style="margin-left:10px ;"  name="contact" id="contact" required>
        <span id="valid-msg" class="hide"></span>
        <span id="error-msg" class="hide"></span>
        </p>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Address</label>
            <input type="text" class="form-control" style="margin-left:440px ;" placeholder="Enter address" name="address" id="address" required>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Password</label>
            <input type="password" class="form-control" style="margin-left:440px ;" placeholder="Enter Password" name="password" id="password" required>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="" style="margin-left: 60px;">Confirm password</label>
            <input type="password" class="form-control" style="margin-left:440px ;" placeholder="Confirm password" name="confirm_password" id="confirm_password" required>
        </div>
        <br>
        <div  id="error"></div>
        <br>
        
        
        <input type="submit" class="btn btn-success" style="margin-left:100px ;padding: auto;" value="Save">
    </form>
    



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
$(document).ready(function() {
$("#Patient").validate({


});
});
</script>

<script>
    $(document).ready(function(){
        

        $('#confirm_password').keyup(function(){
            var password = $('#password').val();
            var confirm_password = $('#confirm_password').val();

            if (confirm_password != password){
                $('#error').html('* Password do not match');
                $('#error').css('color','red');
                return false;
            }
            else{
                $('#error').html('Password matched');
                $('#error').css('color','green');
                return true;
            }
        });
    });
</script>

<script src="{% static 'js/intlTelInput.js' %}"></script>
<script src="{% static 'js/intlTelInput-jquery.min.js' %}"></script>
<script>
   var input = document.querySelector("#contact"),
    errorMsg = document.querySelector("#error-msg"),
    validMsg = document.querySelector("#valid-msg");

// Error messages based on the code returned from getValidationError
var errorMap = [ "Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

// Initialise plugin
var intl = window.intlTelInput(input, {
    utilsScript: "{% static 'js/utils.js' %}"
});

var reset = function() {
    input.classList.remove("error");
    errorMsg.innerHTML = "";
    errorMsg.classList.add("hide");
    validMsg.classList.add("hide");
};

// Validate on blur event
input.addEventListener('blur', function() {
    reset();
    if(input.value.trim()){
        if(intl.isValidNumber()){
            validMsg.classList.remove("hide");
        }else{
            input.classList.add("error");
            var errorCode = intl.getValidationError();
            errorMsg.innerHTML = errorMap[errorCode];
            errorMsg.classList.remove("hide");
        }
    }
});

// Reset on keyup/change event
input.addEventListener('change', reset);
input.addEventListener('keyup', reset);
</script>



